In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split

In [18]:


# Sample data (first 5 rows)
data = {
    'fixed acidity': [7.4, 7.8, 7.8, 11.2, 7.4],
    'volatile acidity': [0.70, 0.88, 0.76, 0.28, 0.70],
    'citric acid': [0.00, 0.00, 0.04, 0.56, 0.00],
    'residual sugar': [1.9, 2.6, 2.3, 1.9, 1.9],
    'chlorides': [0.076, 0.098, 0.092, 0.075, 0.076],
    'free sulfur dioxide': [11, 25, 15, 17, 11],
    'total sulfur dioxide': [34, 67, 54, 60, 34],
    'density': [0.9978, 0.9968, 0.9970, 0.9980, 0.9978],
    'pH': [3.51, 3.20, 3.26, 3.16, 3.51],
    'sulphates': [0.56, 0.68, 0.65, 0.58, 0.56],
    'alcohol': [9.4, 9.8, 9.8, 9.8, 9.4],
    'quality': [5, 5, 5, 6, 5]
}

df = pd.DataFrame(data)

# Save as CSV
df.to_csv('winequality-red.csv', sep=';', index=False)

print("CSV file 'winequality-red.csv' created successfully!")

CSV file 'winequality-red.csv' created successfully!

In [19]:
wine = pd.read_csv('winequality-red.csv' ,sep=';')

In [20]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5

In [21]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         5 non-null      float64
 1   volatile acidity      5 non-null      float64
 2   citric acid           5 non-null      float64
 3   residual sugar        5 non-null      float64
 4   chlorides             5 non-null      float64
 5   free sulfur dioxide   5 non-null      int64
 6   total sulfur dioxide  5 non-null      int64
 7   density               5 non-null      float64
 8   pH                    5 non-null      float64
 9   sulphates             5 non-null      float64
 10  alcohol               5 non-null      float64
 11  quality               5 non-null      int64
dtypes: float64(9), int64(3)
memory usage: 608.0 bytes

In [22]:
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [24]:
bins = (2, 5.5, 6.5, 8)
group_names = ['Low', 'Medium', 'High']

wine['quality'] = pd.cut(wine['quality'], bins=bins, labels=group_names)
print(wine['quality'].unique())

['Low', 'Medium']
Categories (3, object): ['Low' < 'Medium' < 'High']

In [25]:
wine.head(
)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,Low
1,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,Low
2,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,Low
3,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,Medium
4,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,Low

SyntaxError: invalid syntax (3573597840.py, line 1)